<!DOCTYPE html>
<html>

<head>

    <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Arimo' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Hind:300' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <title>
        Your Prediction!
    </title>
</head>

<body>
    <div>
        <h1>Prediction using Convolutional Neural Network</h1>
        <p class="text-light"> My model gave this prediction: </p>
        <p>
            <img src="{{img_path}}" class="center" />
            {% if predictions %}
            Label Name : {{predictions['class']}}
            <br>
            Accuracy : {{'%0.2f'| format(predictions['acc']|float)}}
            {% endif %}

        </p>
        <form class="anybutton">
            <input type="button" value="Predict Again" onclick="history.back()">
        </form>
    </div>
</body>

</html>